*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brand{
    
    display: flex;
     max-width: 100%;
     margin: 0 auto;
    height: 900px;
    border:  thin solid rgb(214, 208, 208);
}
.brand-left{
    background-color: rgb(249, 120, 120);
    width: 60%;
    height: 650px;
    position: relative;
}
.brand-left a{
    position: absolute;
    top: 20px;
    left: 20px;
}
.brand-left p{
    text-align: center;
    padding-top: 30px;
    font-size: 22px;
    color: white;
}
.brand-left img{
    width: 100%;
    height: 550px;
}
.brand-left a img{
    width: 100%;
    height: 100%;
}


/* -----------------------Right---------- */

.brand-right{
    width: 40%; 
    height: 620px;
    padding: 30px 50px;   
}
.brand-right fieldset{
    border: none;
}

.brand-right-top h1{
    padding-bottom: 3px;
    font-size: 79px;
}
.brand-right-top p:nth-child(2){
    font-size: 25px;
}
.brand-right-top p:nth-child(3) {
    color:  rgb(249, 120, 120) ;
    font-size: 18px;
    padding-bottom: 15px;
}
.brand-right-top p:nth-child(3):hover{
    cursor: pointer;
    color: rgb(139, 139, 225);
}
.button-top{
    width: 100%;
    display: flex;
}
.button-top button:nth-child(1){
    display: flex;
    width: 180px;
    height: 50px;
    border-radius: 6px;
    border: none;
    justify-content: center;
    align-items: center;
    border: thin solid gray;
    margin-right: 50px;
    background-color: white;
}
.button-top img{
    width: 40px;
    padding-right: 5px;
}
.button-top button:nth-child(1) p{
    font-size: 22px;
}

.button-top button:nth-child(2){
    display: flex;
    width: 180px;
    height: 50px;
    border-radius: 6px;
    border: none;
    justify-content: center;
    align-items: center;
    border: thin solid gray;
    background-color: rgb(54, 54, 235);
    color: white;
}
.button-top img{
    width: 40px;
    padding-right: 5px;
}
.button-top button:nth-child(2) p{
    font-size: 22px;
}





.button-top button:hover {
    cursor: pointer;
}
.brand-right-top p:nth-child(5){
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
}

.brand-right-bot{
    padding-top: 0;
}
.brand-right-bot .user input{
    width: 100%;
    height: 50px ;
    border-radius: 10px;
    border: none;
    outline: none;
    border: thin solid gray;
    padding-left: 20px;
    font-size: 17px;
}
.user{
    position: relative;
}
.user i{
    position: absolute;
    left: 3px;
    top: 1px;
}

.brand-right-bot p:nth-child(1) {
    font-size: 24px;
}
.brand-right-bot p:nth-child(3){
    font-size: 24px;
}
.brand-right-bot p:nth-child(5){
    font-size: 24px;
}
.brand-right-bot .email input{
    width: 100%;
    height: 50px ;
    border-radius: 10px;
    border: none;
    outline: none;
    border: thin solid gray;
    padding-left: 20px;
    font-size: 16px;
}
.email{
    position: relative;
}
.email i{
    position: absolute;
    left:3px;
    top: 1px;
}

.brand-right-bot .password input{
    width: 100%;
    height: 50px ;
    border-radius: 10px;
    border: none;
    outline: none;
    border: thin solid gray;
    padding-left: 20px;
    font-size: 17px;
}
.password{
    position: relative;
}
.password i{
    position: absolute;
    left:3px;
    top: 1px;
}
.brand-right-bot:nth-child(2) p{
    padding-top: 13px;   
}
.brand-right-bot-btn{
    padding-top: 30px;
    
}

.brand-right-bot-btn button{
    width: 100%;
    height: 50px;
    color: white;
    border-radius: 5px;
    border: none;
    border: thin solid gray;
    background-color: rgb(249, 120, 120);
    font-size: 24px;
}
.brand-right-bot-btn button:hover{
    cursor: pointer;
    background-color:  rgb(240, 43, 43);
}














